@font-face{
    font-family: 'port-semibold';
    src: url('fonts/Satoshi-Regular.otf');
    font-style: regular;
}

@font-face{
    font-family: 'port-regular';
    src: url('fonts/GeneralSans-Regular.otf');
    font-style: regular;
}

@font-face{
    font-family: 'port-medium';
    src: url('fonts/GeneralSans-Medium.otf');
    font-style: regular;
}

body{
    color: #fff !important;
    font-family: 'Arimo', sans-serif !important;
    font-size: 20px !important;
}

#gradient-body{
    background-color: #171c21;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -99;
}

.nav-item .nav-link{
    font-size: 18px;
    color: #138df1 !important;
}

.navbar-toggler{
    color: #138df1 !important;    
}

header{
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

header .work-title{
    font-family: 'Manrope', sans-serif;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
}

header .info{
    max-width: 600px;
}

header .work-info{
    display: flex;
    margin-top: 50px;
}

.pair{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#topbtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: white;
    background-color: #2b3840;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.title1{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title2{
    color: #7d8186;
    text-transform: uppercase;
    color: #138df1;
    font-size: 16px;
}

.title3{
    color: #138df1;
    font-weight: 600;
    margin-bottom: 10px;
}

section{
    padding-top: 5%;
    padding-bottom: 5%;
}

section p {
    max-width: 700px;
}

.banner{
    margin-top: 0%;
}

.banner img{
    width: 100%;
    margin-top: 0%;
}

.insight{
    display: flex;
}

.data{
    margin-right: 15px;
}

.value{
    max-width: 300px;
}

.percent{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(12, 125, 231);
    margin-bottom: 0;
}





@media screen and (max-width: 480px){

    header{
        padding-top: 40%;
        height: unset;
    }

    header .work-title{
        font-size: 34px;
    }

}